body {
  background: black;
  .owl-carousel {
    margin-top: 4%;
    .owl-item {
      width: 100%;

      img {
        width: 80%;
        position: relative;
        margin: 0 auto;
        max-height: 530px;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 5em;
    color: red;
  }
}
#thisone{
  background: white;
  border-radius: 2px;
  transition: 300ms ;
  -webkit-transition: 300ms ;
  height: 200px;
  width: 140px;
  left: 5%;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  &:hover{
    border-radius: 6px;
    transform: scale(1.2);
  }
}